.page-header {

    background-position: center;
    background-size: cover;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    height: 15em;
}



.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #3333ff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    margin-right: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

#ti {
  font-size: 2em;
  margin-left: .2em;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #9DEDA3;
    float: right;
    font-size: 2em;
    margin-right: 2em;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.btn-info {
  margin-right: 2em;
  float: right;
}
